:root {
  --animape-duration: 1s;
}

[data-animape] {
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: var(--animape-duration), var(--animape-duration);
  transition-timing-function: ease-in-out, ease-in-out;
}

.no-js [data-animape] {
  opacity: 1;
  transform: none;
}

[data-animape] { opacity: 0; }
.animape-visible[data-animape] {
  opacity: 1;
}

[data-animape="fadein"] { opacity: 0; }
.animape-visible[data-animape="fadein"] {
  opacity: 1;
}

[data-animape="fadeup"] { transform: translateY(5rem); }
.animape-visible[data-animape="fadeup"] {
  transform: translateY(0);
}

[data-animape="fadedown"] { transform: translateY(-5rem); }
.animape-visible[data-animape="fadedown"] {
  transform: translateY(0);
}


[data-animape="fadeleft"] { transform: translateX(-5rem); }
.animape-visible[data-animape="fadeleft"] {
  transform: translateX(0);
}

[data-animape="faderight"] { transform: translateX(5rem); }
.animape-visible[data-animape="faderight"] {
  transform: translateX(0);
}

[data-animape="zoomin"] { transform: scale(0.8); }
.animape-visible[data-animape="zoomin"] {
  transform: scale(1);
}

[data-animape="zoomout"] { transform: scale(1.2); }
.animape-visible[data-animape="zoomout"] {
  transform: scale(1);
}


/* DEMO PURPOSE CSS BELOW */

[data-animape] {
  margin-top: 500px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
}
